/****** General ***********/

/* ne pas oublier metttre alt **/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    gap: 35px;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;   
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}


.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

h3.footer-title {
    margin: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

ul {
    list-style: none;
    margin: 0;
}

h2, h1 {
    font-weight: 700;
    font-size: 22px;
}

p {
    margin: 0;
}

p.card-subtitle {
    font-size: 14px;
}

.activite-cards h3 {
    font-size: 16px;
}



.afficher, .form-p {
    font-weight: 700;
    font-size: 18px;
}

h2 {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.header-info {
    margin: 0;
}

footer {
    margin: 0;
}

/******** NAV ********/
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

img.nav-logo {
    width: 61.09px;
    height: 19px;
    padding: 30px 0px;
}

ul.nav-list {
    display: flex;
    gap: 68px;
    padding: 0;
    margin-top: 0;
    align-items: center;
}

.nav-list li:hover {
    padding-top: 14.5px;
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

.nav-list li {
    padding-top: 16.5px;
}

/********* HEADER ***********/ 

header {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

h1 {
    margin: 0;
    padding-bottom: 8px;
}

/* form */
form.header-form {
    display: flex;
    position: relative;
    border-radius: 15px;
    max-width: 377px;
    height: 49px;
    align-items: center;
    justify-content: space-between;
}

.form-p {
    position: absolute;
    left: 75px;
}

.location {
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
}

.rechercher {
    display: none;
}

input#search-location {
    border: 1px solid #F2F2F2;
    padding: 15px 27px;
    border-left: 0;
    border-right: 0;
    margin: 0;
    height: calc(100% + 2px);
}

input[type="button"] {
    padding: 15px 16px;
    background: var(--main-color);
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid var(--main-color);
    height: calc(100% + 2px);
}



/* filter */ 
.header-filter {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

#filter-list {
    display: flex;
    padding: 0;
    gap: 15px;
}

.header-filter li {
    display: flex;
    align-items: center;
}

.header-filter button {
    border-radius: 25px;
    padding: 10px 19px;
    display: flex;
    align-items: center;
    border: 2px solid var(--filter-bg-color);
    background: white;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
}

.header-filter button:hover {
    background: var(--filter-bg-color);
}



.header-filter button {
    height: 100%;
}

/* Info */

.header-info {
    display: flex;
    gap: 10px;
   
}




/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}



.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-cards .card-title, .hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle, .hebergements-cards .card-title {
    margin: 0;
}

.populaires-cards .card-rating, .hebergements-cards .card-title {
    margin-bottom: 5px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
        width: 100%;
}

.hebergements-cards img {
    border-radius: 15px 15px 0 0;
    width: calc(100% - 10px);
    height: 124px;
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #FFFFFF;
}

.hebergements-cards .cards-content {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.hebergements-cards article.card {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.hebergements-cards h3 {
    margin: 0;
    margin-top: 8px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 5px 0px 5px 5px;
    border-style: solid;
    border-color: #FFFFFF;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}



/******** Activité **********/ 
section.activite {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activite-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
     width: 100%;       
    box-sizing: border-box;
}

.activite-cards article.card {
    display: flex;
    flex-direction: column;
    height: 439px;
}

.activite-cards h3 {
    display: flex;
    align-items: center;
    height: 59px;
    padding: 0 19px;
    margin: 0;
}

.activite-cards .card img {
    width: 100%;   
    height: 380px;  
    border-radius: 15px 15px 0 0;
}

/************ FOOTER *************/


footer {
    display: grid;
    background: #F2F2F2;
    grid-template-columns: 1fr 1fr 1fr;
}

footer section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 0;
}

footer ul {
    padding: 0;
}

footer li {
    padding-bottom: 15px;
}

p.footer-title {
    font-weight: 700;
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */



/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .header-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-cards {
        justify-content: center;
        width: 100%;
    }

    .hebergements-cards article.card {
        padding: 0;
        gap: 12px;
    }

    .hebergements-cards .card-rating {
        padding-bottom: 8px;
    }


    h3.card-title {
        margin: 0;
    }

    .populaires-cards {
        gap: 20px;
        width: auto;
    }

    .activite-cards article.card {
        height: 270px;
    }

    .activite-cards h3 {
        height: 70px; 
    }

    .activite-cards .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    nav {
        flex-direction: column;
        align-items: center;
    }


    input[type="button"] {
        display: none;
    }   

    i.fa-solid.fa-location-dot.rechercher {
        background: var(--main-color);
        border-radius: 15px 15px;
        color: white;
        font-weight: 700;
        font-size: 18px;
        border: 1px solid var(--main-color);
        width: 49px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    form.header-form {
        width: 335px;
    }

    input#search-location {
        width: 100%;
        position: absolute;
        border-radius: 15px;
    }

    i.fa-solid.fa-location-dot.location {
        position: relative;
        z-index: 4;
    }

    #filter-list {
        flex-wrap: wrap;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

    header {
        padding: 0 20px;
    }

    .nav-list li {
        padding-top: 0;
        padding-bottom: 16.5px;
    }

    .nav-list li:hover {
        padding-bottom: 14.5px;
        padding-top: 0;
        border-bottom: 2px solid var(--main-color);
        border-top: 0;
        color: var(--main-color);
    }

    ul.nav-list {
        width: 100%;
        gap: 0;
    }

    .nav-list li {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

    section.populaires {
        margin: 0;
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;

    }

    .populaires-cards article.card {
        margin: 0;
    }

    .populaires-cards a {
        width: 335px;
    }

    section#hebergements {
        background: #FFFFFF;
        padding: 20px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        width: 335px;
    }

    .activite-cards {
        display: flex;
        flex-direction: column;
    }

    .activite-cards a {
        width: 315px;
    }

    .activite-cards article.card {
        height: 200px;
    }

    .activite-cards .card img {
        height: 141px;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .populaires-title {
        padding-bottom: 15px;
    }

    section#hebergements, .hebergements-and-populaires {
        gap: 15px;
    }

    .header-filter button {
        font-size: 14px;
    }
}